/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2020, 10:36:01
    Author     : jhonny
*/

#lb1, #lb2{
    -fx-font-size: 30px;
    -fx-background-color: #443d99;
    -fx-text-fill: wheat;
    -fx-border-radius: 15px;
    -fx-border-color: black;
    -fx-border-style: dashed;
}
#titl{
    -fx-font-size: 45px;
    -fx-background-color: #0c0c0c;
    -fx-text-fill: white;
    
    
}

